body,
html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.cabecera{
    justify-content: end;
    margin-top: 10px;
}


.boton-modal{
   min-width: 100px;
    margin: 2px;
}

.bg-body-tertiary{
    background-color: white !important;
}

@media (max-width: 400px){
    .boton-modal{
        min-width: 80px;
         margin: 2px;
         font-size: 10px;
     }

     .col-6{
        width: 100% !important;
     }

     .navbar2{
        display: flex !important;
        justify-content: center !important;}

     .navbar4{text-align: center !important;}

     .cabecera{
        justify-content: center !important;
        flex-wrap: wrap !important;
        
     }
}

