body,
html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    
}

nav{
    background-image: linear-gradient(to right, #d4af37, #724921);
}

header{
    width: 100%;
    height: 300px;
}

.header1{
    background-image: linear-gradient(to bottom, #dfc2d7, #ca9cbc);
    color:#eddde9;
}


.titulo1{
    font-size: 120px !important;
}

.titulo2{
    font-size: 30px;
}

.cabecera{
    display: flex;
    align-items: center;
    justify-content: end;
    background-image: linear-gradient(to left, #d4af37, #724921);
}

.texto-login{
    color:  #78340f !important;
}

.navbar4{
    font-size: 13px;
    margin: 0 auto;
    font-weight: bold;
    
}

a{
    color: #78340f!important;
}

.img-logo{
    width: 80px;
    background-color: #d4af37;
   
}

.imagen-logo{
    display: flex;
    align-items: center;
    justify-content: start;
}

.boton-modal{
    width: 70px;
    margin: 2px;
    height: 30px;
    font-size: 13px; ;
    border-style: none;
    background-color: transparent;
    
}

.boton-interno{
    background-color: #c59b2d;
    border-color: #c59b2d;
}

.boton-interno:hover{
    background-image: linear-gradient(to bottom, #dfc2d7, #ca9cbc);
}

.bg-body-tertiary{
    background-color: white !important;
}

@media(max-width: 850px){
    .navbar4{
        font-size: 11px !important;
       
    }
}

.modal-header, .modal-body, .modal-footer {

    background-image: linear-gradient(to left, #c59b2d, #f4f0cd);
    border: #724921;
}



@media(max-width: 767px){
    .cabecera{
        display: flex;
        align-items: start !important;
        justify-content: end !important;
        padding-top: 10px;
    }
    .titulo1{
        font-size: 100px !important;
    }
    
    .titulo2{
        font-size: 15px;
    }
}

@media (max-width: 400px){
    .boton-modal{
        min-width: 80px;
         margin: 2px;
         font-size: 10px;
     }

    .navbar4{text-align: center !important;}

     .col-6{
        width: 100% !important;
     }

     .imagen-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

     .navbar2{
        display: flex !important;
        justify-content: center !important;}

     .cabecera{
        justify-content: center !important;
        flex-wrap: wrap !important;
        
     }
     .titulo1{
        font-size: 50px !important;
    }
    
    .titulo2{
        font-size: 15px;
    }
}

