body,
html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.cabecera{
    display: flex;
    align-items: center;
    justify-content: end;
}

.navbar4{
    font-size: 13px;
    margin: 0 auto;
}

.img-logo{
    width: 80px;
   
}

.imagen-logo{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: -12px;
}

.boton-modal{
    width: 80px;
    margin: 2px;
    height: 30px;
    font-size: 10px; ;
}

.bg-body-tertiary{
    background-color: white !important;
}

@media(max-width: 850px){
    .navbar4{
        font-size: 11px !important;
       
    }
}


@media(max-width: 767px){
    .cabecera{
        margin-top: 10px;
        align-items: start !important;
        justify-content: end !important;
    }
}

@media (max-width: 400px){
    .boton-modal{
        min-width: 80px;
         margin: 2px;
         font-size: 10px;
     }

    .navbar4{text-align: center !important;}

     .col-6{
        width: 100% !important;
     }

     .imagen-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

     .navbar2{
        display: flex !important;
        justify-content: center !important;}


     .cabecera{
        justify-content: center !important;
        flex-wrap: wrap !important;
        
     }
}

