@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,500;1,600;1,800&family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');




body,
html {
    margin: 0px;
    padding: 0px;
    height: 100%;
   
}

nav{
    background-image: linear-gradient(to right, #d4af37, #724921);
}

.mapa{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.header1{

    background-image: url(../imagenes/istockphoto-968940310-1024x1024.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:#eddde9;
    padding-bottom: 5px;
    height: 700px;
    position: relative;
}

.contenedor-header{
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-header-banner{
    height: 150px;
width: auto;
border-radius: 50%;
}


.titulo1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.contenido-header{
    position: absolute;

    left: 60px;
    top: 60px;
}

.header-flex{
    display: flex;
}

.h1estetica{
    font-size: 60px
}

.titulo2{
    font-size: 20px;
    position: absolute;
    left: 250px;
    top: 165px;
}
  

.cabecera{
    display: flex;
    align-items: center;
    justify-content: end;
    background-image: linear-gradient(to left, #d4af37, #724921);
}

.texto-login{
    color:  #78340f !important;
}

.navbar4{
    font-size: 13px;
    margin: 0 auto;
    font-weight: bold; 
}

a{
    color: #78340f!important;
}

.img-logo{
    width: 80px;
    background-color: #d4af37; 
    border-radius: 50%;
}

.imagen-logo{
    display: flex;
    align-items: center;
    justify-content: start;
}

.boton-modal{
    width: 70px;
    margin: 2px;
    height: 30px;
    font-size: 11px; ;
    border-style: none;
    background-color: transparent;
}

.boton-interno{
    background-color: #c59b2d;
    border-color: #c59b2d;
}

.boton-interno:hover{
    background-image: linear-gradient(to bottom, #f4f0cd, #ebdf9d);
}

.bg-body-tertiary{
    background-color: white !important;
}

.divfooter{
    border-left: #724921;
}

.modal-header, .modal-body, .modal-footer {

    background-image: linear-gradient(to left, #c59b2d, #f4f0cd);
    border: #724921;
}

.iconos{
    height: 30px;
    margin: 0;
}

.iconos2{
    display: flex;
    justify-content: space-around;
    transition: all 0.3s; 
    border-radius: 50%;
}

.iconos2:hover{
    transform: scale(1.2); /* Ampliar el icono al 120% del tamaño original en hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agregar una sombra con desenfoque */
}


.iconos3{
    display: flex;
    justify-content: space-around;
}

.tituloredes{
    font-size: 13px;
    margin: 5px 0 5px 0;
}


.redessocilaes{
    font-size: 10px;
}

.texto-label{
    margin-bottom: 0px !important;
}

footer{
    background-image: linear-gradient(to right, #d4af37, #724921);
    width: 100%;
    bottom: 0;
    margin: 0px 0px 0px 0px !important;
}

.boton-flotante{
    position: fixed;
    width: 75px;
    height: 75px;
    background-color: #25cc62;
    bottom: 20px;
    right: 30px;
    color: ffff;
    border-radius: 50%;
    text-align: center;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.500);
    z-index: 999;
}

.fa-whatsapp{
    font-size: 50px;
    background-color: #25d366;
    border-radius: 50%;
    margin-top: 12px;
    color: white;
    
}

.img-cartas{
    height: 176px;
}

.tarjeta2{
    margin-left: auto;
}

@media(max-width: 850px){
    .navbar4{
        font-size: 11px !important;
       
    }
}

@media(max-width: 767px){
    .cabecera{
        display: flex;
        align-items: start !important;
        justify-content: end !important;
        padding-top: 10px;
    }
    
    .h1estetica{
        font-size: 40px
    }
}

@media(max-width: 576px){
    .header-flex{
        display: block;
    }
    .titulo2{
        font-size: 20px;
        position: static;
        text-align: center;
    }
    .img-header-banner{
    height: 100px;
    }

    .contenido-header{
        position: static;
    }
    .img-fondo-header{
        text-align: center;
        padding-top: 20px;
    }
    .h1estetica{
        text-align: center;
    }
}



@media (max-width: 400px){
    .boton-modal{
        min-width: 80px;
         margin: 2px;
         font-size: 10px;
     }

    .navbar4{text-align: center !important;}

     .col-6{
        width: 100% !important;
     }

     .imagen-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

     .navbar2{
        display: flex !important;
        justify-content: center !important;}

     .cabecera{
        justify-content: center !important;
        flex-wrap: wrap !important;
        
     }
     .titulo1{
        font-size: 50px !important;
    }
    
    .titulo2{
        font-size: 15px;
    }
}


