<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/c81a1e63cb.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="../static/css/styles.css">
        <title>Mis consultas</title>
      </head>
<body>
  <a href="#" target="_blank" class="boton-flotante">
    <i class="fa-brands fa-whatsapp"></i>
  </a>

  <nav class="navbar navbar1 navbar-expand-md">
    <div class="container-fluid navbar2">
      <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbarlogo" id="navbarTogglerDemo01">
        <a href="./home.html">
          <div class="imagen-logo ajuste-texto-menu">
            <img src="../static/imagenes/Nani-removebg-preview.png" class=" img-logo-nav" alt="">
          </div>
        </a>
        <ul class="navbar-nav navbar4 container-fluid p-0">
          <li class="nav-item">
            <a class="nav-link py-1 ajuste-texto-menu" href="./misdatos.html">Mis Datos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1 ajuste-texto-menu" href="./solicitartuno.html">Solicitar Turno</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  py-1 ajuste-texto-menu" href="./misturnos.html">Mis Turnos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  py-1 ajuste-texto-menu" href="./misconsultas.html">Mis consultas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  py-1 ajuste-texto-menu" href="./index.html">Cerrar Sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main>
    <P>MIS CONSULTAS</P>
  </main>

  <footer class="d-flex row p-0 footer-home">
    <div class="contenedor-logo-final-home">
      <img class="img-logo-final-home" src="../static/imagenes/Nani-removebg-preview.png" alt="">
    </div>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
</body>
</html>