<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/c81a1e63cb.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="../static/css/styles.css">
        <title>Restablecer contraseña</title>
      </head>
<body>

    <a href="#" target="_blank" class="boton-flotante">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    
      <nav class="navbar navbar1 navbar-expand-md">
        <div class="container-fluid navbar2">
          <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navbarlogo" id="navbarTogglerDemo01">
            <a href="">
              <div class="imagen-logo ajuste-texto-menu">
                <img src="../static/imagenes/Nani-removebg-preview.png" class=" img-logo-nav" alt="">
              </div>
            </a>
            <ul class="navbar-nav navbar4 container-fluid p-0">
              <li class="nav-item">
                <a class="nav-link py-1 ajuste-texto-menu" href="./tablamisdatos.html">Mis Datos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link py-1 ajuste-texto-menu" href="./solicitartuno.html">Solicitar Turno</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  py-1 ajuste-texto-menu" href="./misturnos.html">Mis Turnos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  py-1 ajuste-texto-menu" href="./misconsultas.html">Mis consultas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  py-1 ajuste-texto-menu" href="./index.html">Cerrar Sesion</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


      <main>
        <div class="d-flex justify-content-center  align-items-center div-registrarse">
      <section class=" section-registrarse">
        <div class="row  ">
          <div class="img-registrarse col-md-4 d-flex justify-content-center align-items-center"> </div>
  
          <div class="texto-registrarse col-md-8 p-4">
            <div class="logo-registrarse text-center  ">
              <img class="img-logo-final-home" src="../static/imagenes/Nani-removebg-preview.png" alt="">
            </div>
            <h4 class="fs-1 h4-datospersonales text-center ">¿Olvido su contraseña?</h4>
            <p class="text-center px-5 mt-4 fs-5">Recuperar su contraseña es muy facil, solo ingrese el correo electronico que uso para registrarse.</p>
            <form action="action" class="d-flex justify-content-center align-items-center ">
                  <div class="text-center w-50">
                  <label for="nombre" class="form-label mb-0 fw-semibold"></label>
                  <input type="text" class="form-control form-control-datos" id="nombre" placeholder="Correo electronico">
                </div>
            </form>
          
  <div class="boton-de-registro text-center ">
    <a href="#"><button class="bn632-hover bn26">Enviar</button></a>
  </div>
  <div class="text-center fs-5 ">
    <a class="m-2 texto-subrayado-formularios" href="./login.html">¿Ya esta registrado?</a>
  </div>
  <div class="text-center fs-5  mt-2 ">
    <a class="m-2 texto-subrayado-formularios " href="">¿Olvido su contraseña?</a>
  </div>
    
   
          </div>
        </div>
      </section>
          
    </div>   
  
      </main>
      
      <footer class="d-flex row p-0 footer-home">
        <div class="contenedor-logo-final-home">
          <img class="img-logo-final-home" src="../static/imagenes/Nani-removebg-preview.png" alt="">
        </div>
      </footer>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
</body>
</html>